---
title: Back the truck up
---

<h1>Backup Status</h1>

<div class='row'>

  {% for repo in site.data.repos %}
    <div class='col-md-4'>
      <div class='panel build' id='{{ repo | replace: '/', '-' }}'>
        <h1 id='name'></h1>
        <h2>Last run: <span id='run-date'>Unknown</span></h2>
      </div>
    </div>
  {% endfor %}

</div>



<script>
  {% for repo in site.data.repos %}
    {% assign slugged-repo-name = repo | replace: '/', '-' %}
    $.ajax({
      url: 'https://api.travis-ci.org/repos/{{ repo }}/builds',
      type: 'GET',
      dataType: 'json',
      success: function(json) {
        var latest = json['builds'][0]
        state = getState(latest)
        var last_run = latest['finished_at']

        if(state == 'started') {
          last_run = 'running now!'
        }

        if(state == 'created') {
          last_run = json['builds'][1]['finished_at']
        }

        $('#{{ slugged-repo-name }}').addClass(state)
        $('#{{ slugged-repo-name }} #name').text(fixName('{{ repo }}'))
        $('#{{ slugged-repo-name }} #run-date').text(last_run)
      },
      error: function() {},
      beforeSend: setHeader
    })

    function setHeader(xhr) {
      xhr.setRequestHeader('Accept', 'application/vnd.travis-ci.2+json')
    }
  {% endfor %}
</script>
