---
---

@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Merriweather';
@import 'https://fonts.googleapis.com/css?family=Inconsolata';

$green: #49b82a;
$red: #cc2129;
$orange: #fa8100;
$blue: #1bbcf2;
$grey: #eeeeee;
$dark-grey: darken($grey, 10%);

body {
  background-color: $grey;
}

h1 {
  text-align: center;
  font-family: 'Merriweather', serif;
}

.build {
  border-color: black;

  h1, h2 {
    text-align: center;
    font-family: 'Inconsolata', sans-serif;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.key {
  border-color: black;
  font-family: 'Inconsolata', sans-serif;
  padding: 5px;
  margin: 5px;
}

.passed {
  background-color: $green;
}

.failed {
  background-color: $red;
}

.notrun {
  background-color: $orange;
}

.created, .started {
  background-color: $blue;
}

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: $padding-large-vertical;
  height: $footer-height;
  border-top: 1px solid $dark-grey;
  padding: $padding-large-vertical $padding-large-horizontal;
}
